    <div class="row">
        <div class="card tabs-item">
            <h5>Default</h5>
            <p-tabView (onChange)="refrescar($event)">
                <p-tabPanel header="Historial Atenciones">
                    <p-table responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between">
                                <h5>Historial Atenciones</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Reviews</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.name}}</td>
                                <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
                                <td>{{product.price | currency:'USD'}}</td>
                                <td>{{product.category}}</td>
                                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                                <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                In total there are {{products ? products.length : 0 }} products.
                            </div>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Pagos">
                    <div class="card-iframe" style="height: 87vh;">
                        <iframe #ifPagos id="ifPagos" [src]="urlPagos" width="100%" height="100%"></iframe>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Becas">
                    <div class="card-iframe" style="height: 87vh;">
                        <iframe #ifBecas id="ifBecas" [src]="urlBecas" width="100%" height="100%"></iframe>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Creditos">
                    <div class="card-iframe" style="height: 87vh;">
                        <iframe #ifCreditos id="ifCreditos" [src]="urlCreditos" width="100%" height="100%"></iframe>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div><hr>

