<div class="login-body">
    <div class="login-panel p-fluid">
        <!-- <div  style="background-color: #111c4e; width: 15rem;height: 10rem;">
            <img src="assets/img/SIVETWEB.png">
        </div> -->
        <div class="login-panel-content" style="height: 100%;">
            <div class="p-grid">
                <div class="p-col-12" style="text-align: center;">
                    <div  style="background-color: #111c4e; border-radius: 2rem;">
                        <img src="assets/img/SIVETWEB.png" style="width: 15rem;height: 10rem;">
                    </div>
                    <br>
                    <h1>Plataforma web del instituto INABVE</h1>
                    <h2> Ventanilla de atencion a clientes </h2>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.user" type="text" pInputText>
                        <label >Usuario</label>
                    </span>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input (keyup.enter)="authenticate()" [(ngModel)]="userObj.password" type="password" pInputText>
                        <label >Contraseña</label>
                    </span>
                </div>
                <p-divider class="p-col-12"></p-divider>
                <!-- <div class="p-col-12">
                   
                </div> -->
                <!-- Seleccion de areas de atencion -->
                
                <div class="p-col-12" style="text-align: right">
                    <button pButton pRipple type="button" label="Ingresar" (click)="authenticate()" style="width: 100%;background-color: #111c4e;"></button>
                </div>
            </div>
        </div>
    </div>
</div>
