.alinearDerecha {
    text-align: right !important;
}

th{
    font-size: 1.2rem;
    font-weight: 600;
}

input{
    color: black !important;
    font-weight: 600;
}

.mostrarDisabled {
    opacity: 0.65 !important;
}

.colorTitulo {
    color: white;
}

.p-dropdown .p-inputtext {
    border: 0 none;
    padding: 1rem !important;
}

.vet-contendor{
    background-color: #052e5a;
    display: flex;
    height: 100vh;
    padding-left: 1% ;
}

.dash-contenedor{
    height: 100vh;
}

.row{
    margin: 0% !important;
}