<div class="layout-container layout-top-small"
    [ngClass]="{'layout-menu-horizontal': app.horizontal,
     'p-ripple-disabled': !app.ripple, 'p-input-filled': app.inputStyle === 'filled'}">

    <div class="container">
        <div style="text-align: center; background-color: #6a88a9; margin: 0 !important; padding: 0 !important;">
            <div class="row">
                <h4>ATENCION A VETERANO / EXCOMBATIENTE</h4>
            </div>
        </div>
        
            <div class="p-grid" >
                
                <div class="p-col-3 p-md-3 p-lg-3 p-sm-3 vet-contendor" style="text-align: left;">

                    <iframe #ifRegistro id="ifRegistro" [src]="urlRegistro" frameborder="0" width="100%"></iframe>
                    <!-- <iframe src="http://192.168.3.21:4203/" frameborder="0" width="100%"></iframe> -->

                </div>
                <div class="p-col-9 p-md-9 p-lg-9 p-sm-9 dash-contenedor">
                    <div class="p-grig" style="padding-right: 1%;">
                        <app-dashboard-atencion></app-dashboard-atencion>
                    </div>
                    <!-- <app-dashboard-atencion></app-dashboard-atencion> -->
                </div>
            </div>
        
    </div>
</div>