.formatoCreditoPrincipal {
    border: solid 2px black;
}

.formatoCreditoAbajo {
    border-bottom: solid 2px black;
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
}

.formatoCreditoAbajoLeer {
    border-bottom: solid 2px black;
    font-weight: bold;
    font-size: 14px;
    padding-left: 3px;
}

.formatoCreditoAbajoLeerFinal {
    font-weight: bold;
    font-size: 14px;
    padding-left: 3px;
}

.formatoCreditoAbajoBuscar {
    border-bottom: solid 2px black;
    font-weight: bold;
    padding-left: 3px;
}

.formatoCreditoDerecha {
    border-left: solid 2px black;
    font-weight: bold;
}

.formatoCreditoTitulo {
    border-bottom: solid 2px black;
    text-align: center;
    background-color: #b4c6e7;
    font-weight: bold;
    padding: 10px;
}

.alinearRadioHorizontal {
    display: inline-block;
    padding-left: 15px;
}

.p-field {
    margin-bottom: 0rem !important;
    /* margin-top: 0.5rem !important; */
}

.p-field > label {
    margin-bottom: 0rem !important;
}

.p-field.p-grid .p-col-fixed,
.p-formgrid.p-grid .p-col-fixed,
.p-field.p-grid .p-col,
.p-formgrid.p-grid .p-col,
.p-field.p-grid .p-col-1, 
.p-formgrid.p-grid .p-col-1, 
.p-field.p-grid .p-col-2,
.p-formgrid.p-grid .p-col-2, 
.p-field.p-grid .p-col-3, 
.p-formgrid.p-grid .p-col-3, 
.p-field.p-grid .p-col-4, 
.p-formgrid.p-grid .p-col-4, 
.p-field.p-grid .p-col-5, 
.p-formgrid.p-grid .p-col-5, 
.p-field.p-grid .p-col-6, 
.p-formgrid.p-grid .p-col-6,
.p-field.p-grid .p-col-7, 
.p-formgrid.p-grid .p-col-7, 
.p-field.p-grid .p-col-8, 
.p-formgrid.p-grid .p-col-8, 
.p-field.p-grid .p-col-9, 
.p-formgrid.p-grid .p-col-9, 
.p-field.p-grid .p-col-10, 
.p-formgrid.p-grid .p-col-10, 
.p-field.p-grid .p-col-11, 
.p-formgrid.p-grid .p-col-11, 
.p-field.p-grid .p-col-12,
.p-formgrid.p-grid .p-col-12 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.inputTamaño {
    margin: 0;
    width: 25vw !important;
    /* padding: 0.2rem 0.875rem !important; */
}

.inputTamaño12 {
    margin: 0;
    width: 65vw !important;
    /* padding: 0.2rem 0.875rem !important; */
}

.inputTamaño8 {
    margin: 0;
    width: 50vw !important;
    /* padding: 0.2rem 0.875rem !important; */
}

.dropdownTamaño {
    border: 0 none;
    padding: 0.5vh !important;
}

.p-dropdown .p-inputtext {
    border: 0 none;
    padding: 0.5vh !important;
  }