<div class="container">
    <div class="row" style="text-align: center;">
        <h4>SOLICITUD DE CRÉDITO INABVE</h4>
        <hr>
        <p>{{mensajePrincipal}}</p>
        <br>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6 p-sm-6" style="text-align: left; margin-left: 0.5rem !important;">
                <label style="font-weight: bold;">Fecha: {{fechaActual | date: 'dd-MM-yyyy'}}</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6 p-sm-6" style="text-align: right; margin-left: -1rem !important;">
                <label style="font-weight: bold;">Nº de solicitud: {{numeroSolicitud}}</label>
            </div>
        </div>
    </div>
    <div class="formatoCreditoPrincipal">
        <div class="formatoCreditoTitulo">1. DATOS GENERALES</div>

        <div class="p-field p-grid formatoCreditoAbajo">
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-2 ">1.1 Línea de Crédito: </label>
            <div class="p-col-12 p-sm-9 p-md-9 p-lg-10 ">
                <div *ngFor="let credito of lineaCreditos" class="field-checkbox alinearRadioHorizontal">
                    <label [for]="credito.label">{{credito.label}}&nbsp;</label>
                    <p-radioButton [inputId]="credito.label" name="label" [value]="credito" [(ngModel)]="lineaCreditoSeleccionada"></p-radioButton>
                </div>
            </div>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoBuscar">
            <!-- <label class="p-col-12 p-sm-2 p-md-2 p-lg-2">1.2 Nº de DUI: </label>
            <div class="p-col-12 p-sm-3 p-md-3 p-lg-3">
                <p-autoComplete class="p-inputtext-sm" [(ngModel)]="searching" [suggestions]="filteredVeteran" 
                    (completeMethod)="searchVeteran($event)" (onSelect)=selectedVeteram($event)>
                    <ng-template let-veterean pTemplate="item">  
                        <div class="veterean-item">
                            <div>{{veterean.dui}} || {{veterean.nombres}}, {{veterean.apellidos}} </div>   
                        </div>
                    </ng-template>  
                </p-autoComplete>
            </div> -->
            <label class="p-col-12 p-sm-5 p-md-5 p-lg-5">1.2 Nº de DUI: &nbsp;
                <p-autoComplete class="p-inputtext-sm"  [(ngModel)]="searching" [suggestions]="filteredVeteran" 
                    (completeMethod)="searchVeteran($event)" (onSelect)=selectedVeteram($event)>
                    <ng-template let-veterean pTemplate="item">  
                        <div class="veterean-item">
                            <div>{{veterean.dui}} || {{veterean.nombres}}, {{veterean.apellidos}} </div>   
                        </div>
                    </ng-template>  
                </p-autoComplete>
            </label>

            <label class="p-col-12 p-sm-5 p-md-4 p-lg-4 formatoCreditoDerecha">1.3 Nº de NIT: &nbsp; {{veterano.nit}}</label>

            <label class="p-col-12 p-sm-2 p-md-2 p-lg-3 formatoCreditoDerecha">1.4 SECTOR: &nbsp; {{veterano.sector}}</label>
        </div>

        <div class="formatoCreditoTitulo">2. DATOS PERSONALES DEL SOLICITANTE</div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-9 p-md-10 p-lg-10 ">2.1 Nombre completo: {{veterano.nombres}} {{veterano.apellidos}}</label>
            <label class="p-col-12 p-sm-3 p-md-2 p-lg-2 formatoCreditoDerecha">2.2 Edad: <span *ngIf="edad != null">{{edad}} años</span></label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 ">2.3 Fecha de nacimiento: {{veterano.fechaNacimimento | date: 'dd-MM-yyyy'}}</label>
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 formatoCreditoDerecha">2.4 Genero: {{veterano.sexo == null ? "" : veterano.sexo == 'M' ? "Masculino" : "Femenino"}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 ">2.5 Dirección de residencia: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 formatoCreditoDerecha">2.6 Minicipio: {{veterano.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">2.7 Departamento: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">2.8 Número de Celular: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">2.9 Teléfono Fijo: {{veterano.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">2.10 Estado civil: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">2.11 Ocupación: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">2.12 Otros Ingresos: {{veterano.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-5 p-md-5 p-lg-5 ">2.13 Correo electrónico: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">2.14 No. Dependientes: {{veterano.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">2.15 Tipo de Vivienda: {{veterano.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-12 ">2.16 Que enfermedades crónicas padece: {{veterano.sexo}} &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño12" pInputText />
            </label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-12 ">2.17 Que medicamento(s) permanentes toma: {{veterano.sexo}} &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño12" pInputText />
            </label>
        </div>
        
        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 dropdownTamaño">2.18 Presenta alguna discapacidad: {{veterano.sexo}} &nbsp;
                <p-dropdown [style]="{'padding':'0'}" [options]="decision" [(ngModel)]="decisionSeleccionada" placeholder="Opción" optionLabel="label" ></p-dropdown>
            </label>
            <label class="p-col-12 p-sm-8 p-md-8 p-lg-8 formatoCreditoDerecha">Especifique: {{veterano.sexo}} &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño8" pInputText />
            </label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6">2.19 Nombre de Referencia 1: &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Tel. Ref. 1: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Cel. Ref. 1: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6">2.20 Nombre de Referencia 2: &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Tel. Ref. 2: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Cel. Ref. 2: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
        </div>

        <div class="formatoCreditoTitulo">3. DATOS PERSONALES DEL CODEUDOR</div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-9 p-md-10 p-lg-10">3.1 Nombre completo: &nbsp;
                <p-dropdown [options]="codeudores" [(ngModel)]="codeudorSeleccionado" placeholder="Seleccione un codeudor" optionLabel="nombres" (onChange)="calcularEdad()" >
                    <ng-template pTemplate="selectedItem">
                        <span>{{codeudorSeleccionado.nombres}} {{codeudorSeleccionado.apellidos}}</span>
                    </ng-template>
                    <ng-template let-codeudor pTemplate="item">
                        <span>{{codeudor.nombres}} {{codeudor.apellidos}}</span>
                    </ng-template>
                </p-dropdown>
            </label>
            <label class="p-col-12 p-sm-3 p-md-2 p-lg-2 formatoCreditoDerecha">3.2 Edad: <span *ngIf="edadCodeudor != null">{{edadCodeudor}} años</span></label>
        </div>
        
        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">3.3 Nº de DUI: {{codeudorSeleccionado.dui}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.4 Nº de NIT: {{codeudorSeleccionado.nit}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.5 Parentesco: {{codeudorSeleccionado.dui}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 ">3.6 Fecha de nacimiento: {{codeudorSeleccionado.fechaNacimimento | date: 'dd-MM-yyyy'}}</label>
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 formatoCreditoDerecha">3.7 Genero: {{codeudorSeleccionado.sexo == null ? "" : codeudorSeleccionado.sexo == 'M' ? "Masculino" : "Femenino"}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 ">3.8 Dirección de residencia: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6 formatoCreditoDerecha">3.9 Minicipio: {{codeudorSeleccionado.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">3.10 Departamento: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.11 Número de Celular: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.12 Teléfono Fijo: {{codeudorSeleccionado.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">3.13 Estado civil: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.14 Correo electrónico: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 formatoCreditoDerecha">3.15 No. Dependientes: {{codeudorSeleccionado.sexo}}</label>
        </div>
        
        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-12 ">3.16 Que enfermedades crónicas padece: {{codeudorSeleccionado.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-12 ">3.17 Que medicamento(s) permanentes toma: {{codeudorSeleccionado.sexo}}</label>
        </div>
        
        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-4 p-md-4 p-lg-4 ">3.18 Presenta alguna discapacidad: {{codeudorSeleccionado.sexo}}</label>
            <label class="p-col-12 p-sm-8 p-md-8 p-lg-8 formatoCreditoDerecha">Especifique: {{codeudorSeleccionado.sexo}}</label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6">3.19 Nombre de Referencia 1: &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Tel. Ref. 1: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Cel. Ref. 1: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
        </div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <label class="p-col-12 p-sm-6 p-md-6 p-lg-6">3.20 Nombre de Referencia 2: &nbsp;
                <input type="text" class="p-inputtext-sm inputTamaño" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Tel. Ref. 2: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
            <label class="p-col-12 p-sm-3 p-md-3 p-lg-3 formatoCreditoDerecha">Cel. Ref. 2: &nbsp;
                <input type="text" class="p-inputtext-sm" pInputText />
            </label>
        </div>

        <div class="formatoCreditoTitulo">COMPROMISOS DE DEUDOR Y CODEUDOR</div>

        <div class="p-field p-grid formatoCreditoAbajoLeer">
            <p style="padding: 10px; text-align:justify ;">{{compromisosDeudorCodeudor}}</p>
        </div>
        
        <div class="p-field p-grid formatoCreditoAbajoLeerFinal">
            <h6 style="padding: 10px; text-align:justify ;">CODEUDOR</h6>
            <p style="padding: 10px; text-align:justify ;">{{compromisosCodeudor}}</p>
        </div>
        
    </div>
</div>
