/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";


// .layout-content{
//     padding: 0px 20px !important;
// }

// color que se colocó en una barra header

// .layout-topbar-inabve .layout-top
// {
//     background-color: #111c4e;
// }

.layout-menu-light .layout-menu a .menuitem-text,
.layout-menu-light .layout-menu a i
{
    color: #d2d2d2 !important;
}

.layout-menu-light .layout-menu a:hover i {
    color: #111c4e !important;
}

// se ha establecido este z-index debido a que el DynamicDialog tiene un z-index entre 12000 - 12999
.swal2-container {
    z-index: 13000 !important;
}

.p-datatable .p-datatable-tfoot > tr > td {
    text-align: center !important;
    padding: 1rem 1rem;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    background: #ffffff;
  }

.p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    text-align: center !important;
    align-content: center !important;
}

.p-tree {
    border: none;
    padding: 0rem;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
}

