
<div class="card">
    <div style="text-align: center;">
        <h4 >Calculadora de préstamos simple</h4>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-fieldset legend="Valores del préstamo">

                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label class="p-col-12 p-md-8 p-lg-6" >Linea de credito</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-dropdown [options]="lineaCreditos" [(ngModel)]="lineaSeleccionada" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </div>
    
                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Importe del préstamo</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber [(ngModel)]="calculador.importePrestamo" prefix="$ " (onBlur)="actualizarResumen()" (onKeyDown)="validarTecla($event)" :min="0"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.importePrestamo" type="text" pInputText> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Tasa de interés anual</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="porcentajeAnual" mode="decimal" [minFractionDigits]="2" suffix=" %" :min="0" :max="100" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.tasaInteres" type="text" pInputText> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Periodo del préstamo en años</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber [(ngModel)]="calculador.periodo" (onBlur)="actualizarResumen()" (onKeyDown)="validarTecla($event)" :min="1"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.periodo" type="text" pInputText> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Fecha de inicio del préstamo</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-calendar [(ngModel)]="calculador.fechaInicio" dateFormat="dd-mm-yy" (ngModelChange)="actualizarResumen()" [showIcon]="true" [locale]="calendar_es"></p-calendar>
                        </div>
                    </div>
                </div>

            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-fieldset legend="Resumen del préstamo">
                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Fondo de Prevencion de Mora</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="calculador.fondoPrevencion" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.fondoPrevencion" type="text" pInputText readOnly> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Número de pagos</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="calculador.numPagos" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.numPagos" type="text" pInputText readOnly> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Pago Mensual</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="calculador.pagoMensual" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.pagoMensual" type="text" pInputText readOnly> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Prestamos + Interes</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="calculador.prestamoMasInteres" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.prestamoMasInteres" type="text" pInputText readOnly> -->
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid" style="text-align: right;">
                        <label class="p-col-12 p-md-8 p-lg-6" >Costo total del Prestamo</label>
                        <div class="p-col-12 p-md-4 p-lg-6">
                            <p-inputNumber class="mostrarDisabled" [(ngModel)]="calculador.costoTotal" prefix="$ " mode="decimal" locale="en-US" [minFractionDigits]="2" readonly="true"></p-inputNumber>
                            <!-- <input class="p-inputtext" [(ngModel)]="calculador.costoTotal" type="text" pInputText readOnly> -->
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>
<br>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">

        <p-table [value]="listaValores" class="centerText" [scrollable]="true" scrollHeight="58vh">
            <ng-template pTemplate="caption">
                <h4 style="text-align: center;">Detalles</h4>
            </ng-template>
            

            <ng-template pTemplate="header"> 
                <tr>
                    <th *ngFor="let col of cols" style="background-color: #3c94e1; color: white; font-weight: 600 !important;">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-simula>
                <tr >
                    <td *ngFor="let col of cols">
                        <span *ngIf="col.field == 'fechaPago' && col.field != 'numPago'">{{simula[col.field] | date: 'dd-MM-yyyy'}}</span>
                        <span *ngIf="col.field != 'fechaPago' && col.field == 'numPago'">{{simula[col.field]}}</span>
                        <span *ngIf="col.field != 'fechaPago' && col.field != 'numPago'">{{simula[col.field] | currency: 'USD'}}</span>
                        
                    </td>
                </tr>
            </ng-template>

            <!-- <ng-template pTemplate="footer" > 
                <tr style="text-align: center !important; align-content: center !important;">
                    <td colspan="2">Hay {{modulos?.length}} modulos </td>
                </tr>
            </ng-template> -->
        </p-table> 
    </div>
</div>