.alinearDerecha {
    text-align: right !important;
}

th{
    font-size: 1.2rem;
    font-weight: 600;
}

input{
    color: black !important;
    font-weight: 600;
}

.mostrarDisabled {
    opacity: 0.65 !important;
}

.colorTitulo {
    color: white;
}

.p-dropdown .p-inputtext {
    border: 0 none;
    padding: 1rem !important;
}
